.page-logo {
    background-attachment: inherit;
    background-image: url(../images/effective/logo.png);
    background-repeat: no-repeat;
    height:86px;
    width: 780px;
    position:absolute;
    background-position:right top;
    top:15px;
    right: 15px;
    visibility: visible;
    z-index: 1;
}

.nav-bar-position {
    position: absolute;
    top: 105px;
    left: 0px;
    width: 100%;
}

.center-position {
    position: absolute;
    top: 250px;
}

.md {
    background-attachment: inherit;
    background-image: url(../images/effective/md.png);
    background-repeat: no-repeat;
    height:1000px;
    width: 297px;
    position:absolute;
    background-position:left bottom;
    bottom: 0px;
    left: 0px;
    visibility: visible;
    z-index: 1;
}

h1 {
    color: #696969;
}